# Supabase Configuration
SUPABASE_URL=https://wfvipdnygbnenkgqrwkb.supabase.co
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=sb_secret__wZvHSZ5BkJpGsZVDldtxw_YGrQZjKo

# Public variables (estas pueden ir en el cliente)
PUBLIC_SUPABASE_URL=https://wfvipdnygbnenkgqrwkb.supabase.co
PUBLIC_SUPABASE_ANON_KEY=
